---
import { MarkdownInstance } from 'astro';
import SiteHead from '@/components/SiteHead.astro';
import TheHeader from '@/components/TheHeader.vue';
import EditPage from '@/components/EditPage.vue';
import SponsorButton from '@/components/SponsorButton.vue';
import DocMenu from '@/components/DocMenu.vue';
import DocToc from '@/components/DocToc.vue';
import ContentWrapper from '@/components/ContentWrapper.vue';
import '@/styles/tailwind.css';
import '@/styles/page.css';

const {  headings } = Astro.props;

interface Frontmatter {
  title: string;
  order: number;
}

function tidyup(pages: MarkdownInstance<Frontmatter>[]) {
  return [...pages.sort((a, b) => a.frontmatter.order - b.frontmatter.order)].map(p => {
    return {
      title: p.frontmatter.title,
      order: p.frontmatter.order,
      path: p.url,
    };
  });
}

const menu = [
  {
    title: 'guide',
    pages: tidyup(await Astro.glob<Frontmatter>('../pages/guide/*.md')),
  },
  {
    title: 'plugins',
    pages: tidyup(await Astro.glob<Frontmatter>('../pages/plugins/*.md')),

  },
  {
    title: 'examples',
    pages: tidyup(await Astro.glob<Frontmatter>('../pages/examples/*.md')),
  },
  {
    title: 'api reference',
    pages: tidyup(await Astro.glob<Frontmatter>('../pages/api/*.md')),
  },
];

---

<html>
  <SiteHead {...Astro.props} />
  <body>
    <div class="AppWrapper">
      <TheHeader client:load />
      <div class="App">
        <main class="main">
          <ContentWrapper>
            <slot />
          </ContentWrapper>

          <div class="mt-20 pt-2 border-t dark:border-gray-600 border-gray-200 flex items-center">
            <EditPage class="" />

            <SponsorButton class="ml-auto" />
          </div>
        </main>

        <div class="lside hidden lg:block">
          <DocMenu menu={menu} class="sticky top-0" />
        </div>

        <div class="rside hidden xl:block">
          <DocToc headings={headings} class="sticky top-0" />
        </div>
      </div>
    </div>
  </body>
</html>
